/* radiantthemes-custom-menu element-one  */

.radiantthemes-custom-menu.element-one{
}

.radiantthemes-custom-menu.element-one ul.menu{
}

.radiantthemes-custom-menu.element-one ul.menu li{
	margin-bottom:2px;
}

.radiantthemes-custom-menu.element-one ul.menu li a{
	position:relative;
	display:block;
	padding:14px 15px 14px 18px;
	background-color:rgba(0,0,0,0.055);
	font-weight:500;
	color:inherit;
}

.radiantthemes-custom-menu.element-one ul.menu li a:before{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	z-index:0;
	content:" ";
	width:5px;
	opacity:0;
	transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.radiantthemes-custom-menu.element-one ul.menu li a:hover:before,
.radiantthemes-custom-menu.element-one ul.menu li.current-menu-item a:before{
    opacity:1;
}

.radiantthemes-custom-menu.element-one ul.menu li ul{
	margin-top:2px;
}