﻿/* radiantthemes-accordion element-three */

.radiantthemes-accordion.element-three{
}

.radiantthemes-accordion.element-three .radiantthemes-accordion-item{
	margin-bottom:10px;
}

.radiantthemes-accordion.element-three .radiantthemes-accordion-item:last-child,
.radiantthemes-accordion.element-three .radiantthemes-accordion-item:only-child{
	margin-bottom:0;
}

.radiantthemes-accordion.element-three .radiantthemes-accordion-item > .radiantthemes-accordion-item-title{
	position:relative;
	padding:13px 35px 12px 15px;
	border:1px #d9dbdb solid;
	cursor:pointer;
}

.radiantthemes-accordion.element-three .radiantthemes-accordion-item > .radiantthemes-accordion-item-title > .radiantthemes-accordion-item-title-icon{
	position:absolute;
	top:10px;
	right:15px;
	z-index:1;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.radiantthemes-accordion.element-three .radiantthemes-accordion-item.radiantthemes-active > .radiantthemes-accordion-item-title > .radiantthemes-accordion-item-title-icon{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}

.radiantthemes-accordion.element-three .radiantthemes-accordion-item > .radiantthemes-accordion-item-title > .radiantthemes-accordion-item-title-icon i{
	font-size:16px;
	line-height:16px;
}

.radiantthemes-accordion.element-three .radiantthemes-accordion-item > .radiantthemes-accordion-item-title > .panel-title{
	margin:0;
	text-transform:uppercase;
	font-weight:500;
	font-size:14px;
	color:#030712;
	line-height:25px;
}

.radiantthemes-accordion.element-three .radiantthemes-accordion-item > .radiantthemes-accordion-item-body{
	padding:18px 15px 8px 20px;
}