﻿/* team element-one */

.team.element-one{
	width:auto;
	margin-left:-15px;
	margin-right:-15px;
}

.team.element-one .team-item{
	padding:0px 15px 0px 15px;
}

.team.element-one:not(.owl-carousel) .team-item{
	float:left;
	margin-bottom:40px;
}

.team.element-one .team-item > .holder{
}

.team.element-one .team-item > .holder > .pic{
	position:relative;
	margin-bottom:17px;
}

.team.element-one .team-item > .holder > .pic > img{
	width:100%;
}

.team.element-one .team-item > .holder > .pic > .pic-background{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
	background-color:#f9f8f8;
}

.team.element-one .team-item > .holder > .pic > .pic-main{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:2;
	background:center top no-repeat;
}

.team.element-one .team-item > .holder > .pic > .pic-data{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:3;
	padding:25px 25px 25px 25px;
	background-color:rgba(0,0,0,0.75);
	opacity:0;
	visibility:hidden;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.team.element-one .team-item > .holder:hover > .pic > .pic-data{
	opacity:1;
	visibility:visible;
}

.team.element-one .team-item > .holder > .pic > .pic-data > .table{
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%;
	margin:0;
	opacity:0;
	visibility:hidden;
	transform:translateY(20px);
	-webkit-transform:translateY(20px);
	transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
}

.team.element-one .team-item > .holder:hover > .pic > .pic-data > .table{
	opacity:1;
	visibility:visible;
	transform:translateY(0);
	-webkit-transform:translateY(0);
}

.team.element-one .team-item > .holder > .pic > .pic-data > .table > .table-cell{
	display:table-cell;
	width:100%;
	height:100%;
	vertical-align:bottom;
}

.team.element-one .team-item > .holder > .pic > .pic-data > .table > .table-cell > *:last-child{
	margin-bottom:0 !important;
}

.team.element-one .team-item > .holder > .pic > .pic-data .excerpt{
	margin-bottom:20px;
	font-weight:300;
	font-size:14px;
	color:#fff;
	line-height:25px;
}

.team.element-one .team-item > .holder > .pic > .pic-data ul.social{
	margin-bottom:5px;
	font-size:0;
}

.team.element-one .team-item > .holder > .pic > .pic-data ul.social li{
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
	margin-bottom:5px;
}

.team.element-one .team-item > .holder > .pic > .pic-data ul.social li a{
	display:block;
	width:28px;
	height:28px;
	border-radius:50%;
	text-align:center;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.team.element-one .team-item > .holder > .pic > .pic-data ul.social li.facebook a{
	background-color:#3b5999;
}

.team.element-one .team-item > .holder > .pic > .pic-data ul.social li.twitter a{
	background-color:#55acee;
}

.team.element-one .team-item > .holder > .pic > .pic-data ul.social li.google-plus a{
	background-color:#dd4b39;
}

.team.element-one .team-item > .holder > .pic > .pic-data ul.social li.linkedin a{
	background-color:#0077B5;
}

.team.element-one .team-item > .holder > .pic > .pic-data ul.social li a i{
	font-size:13px;
	color:#fff;
	line-height:29px;
}

.team.element-one .team-item > .holder > .data{
}

.team.element-one .team-item > .holder > .data > *:last-child{
	margin-bottom:0 !important;
}

.team.element-one .team-item > .holder > .data .title{
	margin-bottom:3px;
	font-weight:500;
	font-size:16px;
	color:#0a0a0b;
	line-height:26px;
}

.team.element-one .team-item > .holder > .data .title a{
	color:inherit;
}

.team.element-one .team-item > .holder > .data .designation{
	margin-bottom:7px;
	text-transform:uppercase;
	font-weight:400;
	font-size:13px;
	color:#0a0a0b;
	line-height:25px;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){

	/* team element-one */

	.team.element-one:not(.owl-carousel) .team-item{
		width:50% !important;
	}

}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	/* team element-one */

	.team.element-one:not(.owl-carousel) .team-item{
		width:50% !important;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	/* team element-one */

	.team.element-one:not(.owl-carousel) .team-item{
		width:100% !important;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	/* team element-one */

	.team.element-one:not(.owl-carousel) .team-item{
		width:100% !important;
	}

}