﻿/* team element-three */

.team.element-three{
	width:auto;
	margin-left:-15px;
	margin-right:-15px;
}

.team.element-three .team-item{
	padding:0px 15px 0px 15px;
}

.team.element-three:not(.owl-carousel) .team-item{
	float:left;
	margin-bottom:40px;
}

.team.element-three .team-item .pic{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:370px;
}

.team.element-three .team-item .pic > img{
	width:100%;
}

.team.element-three .team-item .pic > .pic-background{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
	background-color:#f9f8f8;
}

.team.element-three .team-item .pic > .pic-main{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:2;
	background:center top no-repeat;
}

.team.element-three .team-item .data{
	padding-top:30px;
}

.team.element-three .team-item .data > *:last-child{
	margin-bottom:0 !important;
}

.team.element-three .team-item .data .title{
	margin-bottom:3px;
	font-weight:500;
	font-size:16px;
	color:#0a0a0b;
	line-height:26px;
}

.team.element-three .team-item .data .title a{
	color:inherit;
}

.team.element-three .team-item .data .designation{
	margin-bottom:16px;
	text-transform:uppercase;
	font-size:13px;
	color:#0a0a0b;
	line-height:25px;
}

.team.element-three .team-item .data hr{
	margin-bottom:16px;
	border-top-color:#dedfdf;
}

.team.element-three .team-item .data .content{
	margin-bottom:20px;
}

.team.element-three .team-item .data ul.social{
	margin-bottom:5px;
	font-size:0;
}

.team.element-three .team-item .data ul.social li{
	display:inline-block;
	vertical-align:top;
	margin-right:7px;
	margin-bottom:5px;
}

.team.element-three .team-item .data ul.social li a{
	display:block;
	width:28px;
	height:28px;
	border-radius:50%;
	text-align:center;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.team.element-three .team-item .data ul.social li.facebook a{
	background-color:#3b5999;
}

.team.element-three .team-item .data ul.social li.twitter a{
	background-color:#55acee;
}

.team.element-three .team-item .data ul.social li.google-plus a{
	background-color:#dd4b39;
}

.team.element-three .team-item .data ul.social li.linkedin a{
	background-color:#0077B5;
}

.team.element-three .team-item .data ul.social li a i{
	font-size:13px;
	color:#fff;
	line-height:29px;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){

	/* team element-three */

	.team.element-three:not(.owl-carousel) .team-item{
		width:100% !important;
	}

}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	/* team element-three */

	.team.element-three:not(.owl-carousel) .team-item{
		width:100% !important;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	/* team element-three */

	.team.element-three:not(.owl-carousel) .team-item{
		width:100% !important;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	/* team element-three */

	.team.element-three:not(.owl-carousel) .team-item{
		width:100% !important;
	}

}