﻿/* team element-five */

.team.element-five{
	width:auto;
	margin-left:-15px;
	margin-right:-15px;
}

.team.element-five .team-item{
	padding:0px 15px 0px 15px;
}

.team.element-five:not(.owl-carousel) .team-item{
	float:left;
	margin-bottom:40px;
}

.team.element-five .team-item > .holder{
	position:relative;
	text-align:center;
}

.team.element-five .team-item > .holder > .pic{
	position:relative;
    z-index:1;
}

.team.element-five .team-item > .holder > .pic > img{
	width:100%;
}

.team.element-five .team-item > .holder > .pic > .pic-background{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
	background-color:#fff;
}

.team.element-five .team-item > .holder > .pic > .pic-main{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:2;
	background:center top no-repeat;
}

.team.element-five .team-item > .holder > .data{
	position:absolute;
	right:0;
	bottom:20px;
	left:0;
	z-index:2;
	padding:35px 15px 35px 15px;
	background-color:#fff;
	box-shadow:0px 0px 15px rgba(0,0,0,0.15);
	opacity:0;
	visibility:hidden;
	transform:scale(0);
	-webkit-transform:scale(0);
	transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
}

.team.element-five .team-item > .holder:hover > .data{
	bottom:40px;
	opacity:1;
	visibility:visible;
	transform:scale(1);
	-webkit-transform:scale(1);
}

.team.element-five .team-item > .holder > .data > *:last-child{
	margin-bottom:0 !important;
}

.team.element-five .team-item > .holder > .data .title{
	margin-bottom:3px;
	font-weight:500;
	font-size:16px;
	color:#0a0a0b;
	line-height:26px;
}

.team.element-five .team-item > .holder > .data .title a{
	color:inherit;
}

.team.element-five .team-item > .holder > .data .designation{
	margin-bottom:15px;
	text-transform:uppercase;
	font-weight:400;
	font-size:13px;
	color:#0a0a0b;
	line-height:25px;
}

.team.element-five .team-item > .holder > .data ul.social{
	margin-bottom:5px;
	font-size:0;
	opacity:0;
	visibility:hidden;
	transform:translateY(10px);
	-webkit-transform:translateY(10px);
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.team.element-five .team-item > .holder:hover > .data ul.social{
	opacity:1;
	visibility:visible;
	transform:translateY(0);
	-webkit-transform:translateY(0);
}

.team.element-five .team-item > .holder > .data ul.social li{
	display:inline-block;
	vertical-align:top;
	margin-left:3px;
	margin-right:3px;
	margin-bottom:5px;
}

.team.element-five .team-item > .holder > .data ul.social li a{
	display:block;
	width:28px;
	height:28px;
	border-radius:50%;
	text-align:center;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.team.element-five .team-item > .holder > .data ul.social li.facebook a{
	background-color:#3b5999;
}

.team.element-five .team-item > .holder > .data ul.social li.twitter a{
	background-color:#55acee;
}

.team.element-five .team-item > .holder > .data ul.social li.google-plus a{
	background-color:#dd4b39;
}

.team.element-five .team-item > .holder > .data ul.social li.linkedin a{
	background-color:#0077B5;
}

.team.element-five .team-item > .holder > .data ul.social li a i{
	font-size:13px;
	color:#fff;
	line-height:29px;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){

	/* team element-five */

	.team.element-five:not(.owl-carousel) .team-item{
		width:50% !important;
	}

}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	/* team element-five */

	.team.element-five:not(.owl-carousel) .team-item{
		width:50% !important;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	/* team element-five */

	.team.element-five:not(.owl-carousel) .team-item{
		width:100% !important;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	/* team element-five */

	.team.element-five:not(.owl-carousel) .team-item{
		width:100% !important;
	}

}