﻿/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){

	/*--------------------------------------------------------------
	# Shop Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Product Listing Page
	--------------------------------------------------------------*/

	.radiantthemes-shop.three-column > .radiantthemes-shop-box,
	.radiantthemes-shop.four-column > .radiantthemes-shop-box,
	.radiantthemes-shop.five-column > .radiantthemes-shop-box,
	.radiantthemes-shop.six-column > .radiantthemes-shop-box{
		width:33.33%;
	}

	/*--------------------------------------------------------------
	# Event Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Event List View Page
	--------------------------------------------------------------*/

	.radiantthemes-event-list-item > .row{
		display:block;
	}

	.radiantthemes-event-list-item-pic,
	.radiantthemes-event-list-item-data,
	.radiantthemes-event-list-item-button{
		max-width:initial;
	}

	.radiantthemes-event-list-item-pic{
		position:static;
		background-image:initial;
	}

}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	/*--------------------------------------------------------------
	# GDPR Notice
	--------------------------------------------------------------*/

	.gdpr-notice > .row{
		display:block;
	}

	.gdpr-notice .btn{
		margin-top:25px;
	}

	/*--------------------------------------------------------------
	# Common
	--------------------------------------------------------------*/

	.order-first,
	.order-second{
		order:initial;
	}

	/*--------------------------------------------------------------
	# Blog Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Blog Single Page
	--------------------------------------------------------------*/

	.comments-area ol.comment-list li ol{
		padding-left:20px;
	}

	/*--------------------------------------------------------------
	# Shop Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Product Listing Page
	--------------------------------------------------------------*/

	.radiantthemes-shop.three-column > .radiantthemes-shop-box,
	.radiantthemes-shop.four-column > .radiantthemes-shop-box,
	.radiantthemes-shop.five-column > .radiantthemes-shop-box,
	.radiantthemes-shop.six-column > .radiantthemes-shop-box{
		width:50%;
	}

	/*--------------------------------------------------------------
	# Cart Page
	--------------------------------------------------------------*/

	.woocommerce input.input-text[name=coupon_code]{
		width:50% !important;
	}

	/*--------------------------------------------------------------
	# Event Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Event List View Page
	--------------------------------------------------------------*/

	.radiantthemes-event-list-item > .row{
		display:block;
	}

	.radiantthemes-event-list-item-pic,
	.radiantthemes-event-list-item-data,
	.radiantthemes-event-list-item-button{
		max-width:initial;
	}

	.radiantthemes-event-list-item-pic{
		position:static;
		background-image:initial;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	/*--------------------------------------------------------------
	# GDPR Notice
	--------------------------------------------------------------*/

	.gdpr-notice > .row{
		display:block;
	}

	.gdpr-notice .btn{
		margin-top:25px;
	}

	/*--------------------------------------------------------------
	# Gallery Columns
	--------------------------------------------------------------*/

	.gallery-item,
	.gallery-columns-1 .gallery-item,
	.gallery-columns-2 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item{
		width:100%;
		max-width:initial;
	}

	/*--------------------------------------------------------------
	# Common
	--------------------------------------------------------------*/

	.order-first,
	.order-second{
		order:initial;
	}

	/*--------------------------------------------------------------
	# Blog Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Blog Single Page
	--------------------------------------------------------------*/

	.comments-area ol.comment-list li ol{
		padding-left:0;
	}

	/*--------------------------------------------------------------
	# Shop Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Product Listing Page
	--------------------------------------------------------------*/

	.woocommerce .woocommerce-products-header,
	.woocommerce .woocommerce-result-count,
	.woocommerce .woocommerce-ordering{
		width:100%;
		text-align:center;
	}

	.radiantthemes-shop.three-column > .radiantthemes-shop-box,
	.radiantthemes-shop.four-column > .radiantthemes-shop-box,
	.radiantthemes-shop.five-column > .radiantthemes-shop-box,
	.radiantthemes-shop.six-column > .radiantthemes-shop-box{
		width:100%;
	}

	/*--------------------------------------------------------------
	# Cart Page
	--------------------------------------------------------------*/

	.woocommerce input.input-text[name=coupon_code]{
		width:100% !important;
		margin:0px 0px 7px 0px !important;
	}

	.woocommerce input.button[name=apply_coupon]{
		width:100% !important;
	}

	/*--------------------------------------------------------------
	# Checkout Page
	--------------------------------------------------------------*/

	.woocommerce form #customer_details,
	.woocommerce form #order_review_heading,
	.woocommerce form #order_review{
		width:100%;
	}

	/*--------------------------------------------------------------
	# Event Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Event List View Page
	--------------------------------------------------------------*/

	.radiantthemes-event-list-item > .row{
		display:block;
	}

	.radiantthemes-event-list-item-pic,
	.radiantthemes-event-list-item-data,
	.radiantthemes-event-list-item-button{
		max-width:initial;
	}

	.radiantthemes-event-list-item-pic{
		position:static;
		background-image:initial;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	/*--------------------------------------------------------------
	# GDPR Notice
	--------------------------------------------------------------*/

	.gdpr-notice > .row{
		display:block;
	}

	.gdpr-notice .btn{
		margin-top:25px;
	}

	/*--------------------------------------------------------------
	# Gallery Columns
	--------------------------------------------------------------*/

	.gallery-item,
	.gallery-columns-1 .gallery-item,
	.gallery-columns-2 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item{
		width:100%;
		max-width:initial;
	}

	/*--------------------------------------------------------------
	# Common
	--------------------------------------------------------------*/

	.order-first,
	.order-second{
		order:initial;
	}

	/*--------------------------------------------------------------
	# Blog Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Blog Single Page
	--------------------------------------------------------------*/

	.comments-area ol.comment-list li ol{
		padding-left:0;
	}

	/*--------------------------------------------------------------
	# Shop Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Product Listing Page
	--------------------------------------------------------------*/

	.woocommerce .woocommerce-products-header,
	.woocommerce .woocommerce-result-count,
	.woocommerce .woocommerce-ordering{
		width:100%;
		text-align:center;
	}

	.radiantthemes-shop.three-column > .radiantthemes-shop-box,
	.radiantthemes-shop.four-column > .radiantthemes-shop-box,
	.radiantthemes-shop.five-column > .radiantthemes-shop-box,
	.radiantthemes-shop.six-column > .radiantthemes-shop-box{
		width:100%;
	}

	/*--------------------------------------------------------------
	# Cart Page
	--------------------------------------------------------------*/

	.woocommerce input.input-text[name=coupon_code]{
		width:100% !important;
		margin:0px 0px 7px 0px !important;
	}

	.woocommerce input.button[name=apply_coupon]{
		width:100% !important;
	}

	/*--------------------------------------------------------------
	# Checkout Page
	--------------------------------------------------------------*/

	.woocommerce form #customer_details,
	.woocommerce form #order_review_heading,
	.woocommerce form #order_review{
		width:100%;
	}

	/*--------------------------------------------------------------
	# Event Page
	--------------------------------------------------------------*/

	/*--------------------------------------------------------------
	# Event List View Page
	--------------------------------------------------------------*/

	.radiantthemes-event-list-item > .row{
		display:block;
	}

	.radiantthemes-event-list-item-pic,
	.radiantthemes-event-list-item-data,
	.radiantthemes-event-list-item-button{
		max-width:initial;
	}

	.radiantthemes-event-list-item-pic{
		position:static;
		background-image:initial;
	}

}