﻿/* wraper_header */

.wraper_header{
	z-index:999;
    width:100%;
    direction:initial;
}

.wraper_header.static-header{
	position:relative;
}

.wraper_header.floating-header{
	position:absolute;
}

/* wraper_header_top */

.wraper_header_top{
	width:100%;
}

.wraper_header_top > .container{
	padding-top:12px;
	padding-bottom:0;
}

.header_top{
}

.header_top_item{
	margin-bottom:7px;
}

.header_top_item .brand-logo{
    margin-top:10px;
    font-size:0;
}

.header_top_item .brand-logo img{
	max-width:145px;
}

.header_top_item ul.contact{
	font-size:0;
}

.header_top_item ul.contact li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	padding-left:17px;
	padding-right:17px;
    font-weight:400;
	font-size:13px;
	color:#707070;
	line-height:25px;
}

.header_top_item ul.contact li:first-child{
	padding-left:0;
}

.header_top_item ul.contact li:last-child{
	padding-right:0;
}

.header_top_item ul.contact li:only-child{
	padding-left:0;
	padding-right:0;
}

.header_top_item ul.contact li:before{
	position:absolute;
	top:7px;
	right:0;
	z-index:0;
	content:" ";
	width:1px;
	height:12px;
	background-color:rgba(0,0,0,0.2);
}

.header_top_item ul.contact li:last-child:before,
.header_top_item ul.contact li:only-child:before{
	display:none;
}

.header_top_item ul.contact li a{
}

.header_top_item .header-data-translator{
	position:relative;
	display:inline-block;
	vertical-align:top;
	padding-right:17px;
    margin-right:17px;
}

.header_top_item .header-data-translator:before{
	position:absolute;
	top:7px;
	right:0;
	z-index:0;
	content:" ";
	width:1px;
	height:12px;
	background-color:rgba(255,255,255,0.4);
}

.header_top_item .header-data-translator > .dropdown{
	display:inline-block;
	vertical-align:top;
	margin-top:-1px;
}

.header_top_item .header-data-translator > .dropdown > .btn{
	display:block;
	font-weight:300;
	font-size:14px;
	color:#fff;
	line-height:25px;
	box-shadow:initial;
}

.header_top_item .header-data-translator > .dropdown > .btn > img,
.header_top_item .header-data-translator > .dropdown > ul.dropdown-menu > li > a img{
	margin-right:5px;
}

.header_top_item .header-data-translator > .dropdown > .btn > .caret{
	margin-left:5px;
	color:rgba(255,255,255,0.7);
}

.header_top_item .header-data-translator > .dropdown > ul.dropdown-menu{
	border-radius:0;
}

.header_top_item .header-data-translator > .dropdown > ul.dropdown-menu > li > a{
	padding:3px 15px;
	font-size:13px;
	line-height:22px;
}

.header_top_item .header-data-social{
	display:inline-block;
	vertical-align:top;
}

.header_top_item .header-data-social ul.social{
    display:inline-block;
    vertical-align:top;
    margin-top:3px;
    text-align:center;
	font-size:0;
}

.header_top_item .header-data-social ul.social li{
    display:inline-block;
    vertical-align:top;
    margin-right:15px;
}

.header_top_item .header-data-social ul.social li:last-child,
.header_top_item .header-data-social ul.social li:only-child{
    margin-right:0;
}

.header_top_item .header-data-social ul.social li a{
    display:block;
    cursor:pointer;
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.header_top_item .header-data-social ul.social li a i{
	font-size:13px;
	color:#707070;
	line-height:1;
}

/* wraper_header_main */

.wraper_header_main{
    width:100%;
}

body.admin-bar .wraper_header_main{
	top:0;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

body.admin-bar .is-sticky .wraper_header_main{
	top:32px !important;
}

.wraper_header_main > .container{
	padding-top:0;
	padding-bottom:0;
}

.header_main{
	position:relative;
}

.header_main .responsive-nav{
	float:right;
	margin-top:17px;
}

.header_main .responsive-nav i{
	line-height:1;
	cursor:pointer;
}

.nav{
	float:left;
	text-align:left;
}

.nav > [class*='menu-']{
	display:block;
}

/* nav level one */

.nav > [class*='menu-'] > ul.menu > li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	width:auto;
	height:auto;
	margin-right:40px;
}

.nav > [class*='menu-'] > ul.menu > li:last-child,
.nav > [class*='menu-'] > ul.menu > li:only-child{
	margin-right:0 !important;
}

.nav > [class*='menu-'] > ul.menu > li > a{
	position:relative;
	display:block;
	width:auto;
	height:auto;
	padding-top:13px;
	padding-bottom:14px;
	cursor:pointer;
	transition:all 0.3s ease-in-out !important;
	-webkit-transition:all 0.3s ease-in-out !important;
}

.nav > [class*='menu-'] > ul.menu > li:hover > a,
.nav > [class*='menu-'] > ul.menu > li.current-menu-item > a,
.nav > [class*='menu-'] > ul.menu > li.current-menu-parent > a,
.nav > [class*='menu-'] > ul.menu > li.current-menu-ancestor > a{
}

.nav > [class*='menu-'] > ul.menu > li.menu-item-has-children > a:after{
	display:inline-block;
	vertical-align:middle;
	margin-left:7px;
	content:"\f107";
	font-family:"FontAwesome";
	line-height:1;
}

/* nav level two */

.nav > [class*='menu-'] > ul.menu > li > ul{
	position:absolute;
	top:100%;
	left:0;
	z-index:1;
	width:220px;
	height:auto;
	background-color:#fff;
	box-shadow:0px 3px 10px rgba(0,0,0,0.2);
	opacity:0;
	visibility:hidden;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.nav > [class*='menu-'] > ul.menu > li:nth-last-child(1) > ul,
.nav > [class*='menu-'] > ul.menu > li:nth-last-child(2) > ul{
	left:auto;
	right:0;
}

.nav > [class*='menu-'] > ul.menu > li:hover > ul{
	opacity:1;
	visibility:visible;
}

.nav > [class*='menu-'] > ul.menu > li > ul > li,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li ul li{
	position:relative;
	width:100%;
	height:auto;
	float:left;
}

.nav > [class*='menu-'] > ul.menu > li > ul > li > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li ul li a{
	position:relative;
	display:block;
	width:auto;
	height:auto;
	padding:2px 15px 2px 15px;
	border-bottom:1px #e2e2e2 solid;
	opacity:inherit !important;
	visibility:inherit !important;
	cursor:pointer;
	transition:all 0.3s ease-in-out !important;
	-webkit-transition:all 0.3s ease-in-out !important;
}

.nav > [class*='menu-'] > ul.menu > li > ul > li:last-child > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li:last-child > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li:last-child > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li ul li:last-child a{
	border-bottom:none;
}

.nav > [class*='menu-'] > ul.menu > li:hover > ul > li > a,
.nav > [class*='menu-'] > ul.menu > li:hover > ul > li > ul > li > a,
.nav > [class*='menu-'] > ul.menu > li:hover > ul > li > ul > li > ul > li > a,
.nav > [class*='menu-'] > ul.menu > li:hover > ul > li > ul > li > ul > li ul li a{
	padding-top:10px;
	padding-bottom:10px;
}

.nav > [class*='menu-'] > ul.menu > li > ul > li:hover > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li.current-menu-item > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li.current-menu-parent > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li:hover > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li.current-menu-item > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li.current-menu-parent > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li:hover > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li.current-menu-item > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li.current-menu-parent > a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li ul li:hover a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li ul li.current-menu-item a,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li ul li.current-menu-parent a{
}

.nav > [class*='menu-'] > ul.menu > li > ul > li.menu-item-has-children > a:after,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li.menu-item-has-children > a:after,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li.menu-item-has-children > a:after,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li ul li.menu-item-has-children > a:after{
	/*float:right;
	margin-left:7px;
	content:"\f105";
	font-family:"FontAwesome";*/
}

.nav > [class*='menu-'] > ul.menu > li > ul > li > a i,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > a i,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li > a i,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li ul li a i{
	width:20px;
    text-align:center;
	margin-right:10px;
}

/* nav level three */

.nav > [class*='menu-'] > ul.menu > li > ul > li > ul,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul li ul{
	position:absolute;
	top:0;
	left:100%;
	z-index:1;
	width:220px;
	background-color:#fff;
	box-shadow:0px 3px 10px rgba(0,0,0,0.2);
	text-align:left;
	opacity:0;
	visibility:hidden;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.nav > [class*='menu-'] > ul.menu > li:nth-last-child(1) > ul > li > ul,
.nav > [class*='menu-'] > ul.menu > li:nth-last-child(2) > ul > li > ul,
.nav > [class*='menu-'] > ul.menu > li:nth-last-child(1) > ul > li > ul > li > ul,
.nav > [class*='menu-'] > ul.menu > li:nth-last-child(2) > ul > li > ul > li > ul,
.nav > [class*='menu-'] > ul.menu > li:nth-last-child(1) > ul > li > ul > li > ul li ul,
.nav > [class*='menu-'] > ul.menu > li:nth-last-child(2) > ul > li > ul > li > ul li ul{
	left:auto;
	right:100%;
}

.nav > [class*='menu-'] > ul.menu > li > ul > li:hover > ul,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li:hover > ul,
.nav > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul li:hover > ul{
	top:0;
	opacity:1;
	visibility:visible;
}

/* RADIANTTHEMES MEGA MENU */

.nav > [class*='menu-'] > ul.menu > li.rt-mega-menu-full-width{
	position:static;
}

.rt-mega-menu{
	width:700px;
	box-shadow:0px 3px 10px rgba(0,0,0,0.2);
	text-align:left;
}

.nav > [class*='menu-'] > ul.menu > li.rt-mega-menu-full-width .rt-mega-menu{
	width:100%;
}

.rt-mega-menu > ul{
	display:table;
	table-layout:fixed;
	width:100%;
}

.nav > [class*='menu-'] > ul.menu > li:nth-last-child(1) > .rt-mega-menu,
.nav > [class*='menu-'] > ul.menu > li:nth-last-child(2) > .rt-mega-menu{
	left:auto;
	right:0;
}

.rt-mega-menu > ul > .menu-item{
	padding:20px 20px 20px 20px;
	border-right:1px #e2e2e2 solid;
}

.rt-mega-menu > ul > .menu-item:last-child,
.rt-mega-menu > ul > .menu-item:only-child{
	border-right:none;
}

.rt-megamenu-widget .rt-megamenu-widget-title{
	margin-bottom:15px;
	padding-bottom:10px;
	border-bottom:1px #e2e2e2 solid;
	text-transform:none;
	font-weight:600;
	font-size:15px;
	line-height:27px;
}

.rt-megamenu-widget ul.menu{
}

.rt-megamenu-widget ul.menu > li{
	position:relative;
	margin-bottom:12px;
	padding-left:17px;
	text-transform:none;
	font-weight:400;
	font-size:14px;
	color:#0c121f;
	line-height:25px;
}

.rt-megamenu-widget ul.menu > li:last-child,
.rt-megamenu-widget ul.menu > li:only-child{
	margin-bottom:none;
}

.rt-megamenu-widget ul.menu > li:before{
	position:absolute;
	top:0;
	left:0;
	z-index:0;
	content:"\f105";
	font-family:"FontAwesome";
}

.rt-megamenu-widget ul.menu > li > a{
	display:block;
	color:inherit;
	opacity:0.8;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.rt-megamenu-widget ul.menu > li > a:hover{
	opacity:1;
}

.rt-megamenu-widget ul.menu > li > a i{
	width:20px;
    text-align:center;
	margin-right:10px;
}

/* SIDR */

.sidr{
	background:#2f2f39;
}

body.sidr-open .sidr{
	box-shadow:0px 0px 20px rgba(0,0,0,0.7);
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu{
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li{
	width:100%;
	float:left;
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li > ul li a{
	position:relative;
	display:block;
	width:auto;
	height:auto;
	padding:10px 22px 11px 15px;
	border-bottom:1px rgba(255,255,255,0.05) solid;
	color:#fff;
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li.menu-item-has-children > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li.menu-item-has-children > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li.menu-item-has-children > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li.menu-item-has-children > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li > ul li.menu-item-has-children a{
	padding-right:50px;
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li.current-menu-item > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li.current-menu-parent > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li.current-menu-item > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li.current-menu-parent > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li.current-menu-item > a,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li.current-menu-parent > a{
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li.menu-item-has-children > a > .radiantthemes-open-submenu,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li.menu-item-has-children > a > .radiantthemes-open-submenu,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li.menu-item-has-children > a > .radiantthemes-open-submenu,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li.menu-item-has-children > a > .radiantthemes-open-submenu,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li > ul li.menu-item-has-children > a > .radiantthemes-open-submenu{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:40px;
	background-color:rgba(0,0,0,0.2);
	cursor:pointer;
	text-align:center;
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li.menu-item-has-children > a > .radiantthemes-open-submenu > i,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li.menu-item-has-children > a > .radiantthemes-open-submenu > i,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li.menu-item-has-children > a > .radiantthemes-open-submenu > i,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li.menu-item-has-children > a > .radiantthemes-open-submenu > i,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li > ul li.menu-item-has-children > a > .radiantthemes-open-submenu > i{
	line-height:49px;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li.menu-item-has-children.radiantthemes-menu-open > a > .radiantthemes-open-submenu > i,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li.menu-item-has-children.radiantthemes-menu-open > a > .radiantthemes-open-submenu > i,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li.menu-item-has-children.radiantthemes-menu-open > a > .radiantthemes-open-submenu > i,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li.menu-item-has-children.radiantthemes-menu-open > a > .radiantthemes-open-submenu > i,
.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li > ul li.menu-item-has-children.radiantthemes-menu-open > a > .radiantthemes-open-submenu > i{
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > a{
	padding-left:30px;
	font-size:90%;
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > a{
	padding-left:45px;
	font-size:85%;
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li > a{
	padding-left:65px;
	font-size:80%;
}

.sidr > .sidr-inner > [class*='menu-'] > ul.menu > li > ul > li > ul > li > ul > li > ul li a{
	padding-left:80px;
	font-size:75%;
}

/* SIDR - RADIANTTHEMES MEGA MENU */

.sidr .rt-sub-menu,
.sidr .rt-mega-menu{
	position:static;
	width:100%;
	float:left;
	opacity:1 !important;
	visibility:visible !important;
	box-shadow:initial;
	transform:translate(0, 0) !important;
	-webkit-transform:translate(0, 0) !important;
}

.sidr .rt-sub-menu{
	background-color:initial;
}

.sidr .rt-sub-menu > li{
	width:100%;
	float:left;
}

.sidr .rt-mega-menu > .rt-sub-menu{
	display:block;
	opacity:1;
	visibility:visible;
	background-color:#fff;
}

.sidr .rt-mega-menu > .rt-sub-menu > .rt-mega-menu-col{
	display:block;
}

.header_main_action{
	float:right;
	margin-top:18px;
	text-align:center;
	font-size:0;
}

.header_main_action ul > li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin-right:22px;
}

.header_main_action ul > li:last-child,
.header_main_action ul > li:only-child{
	margin-right:0;
}

.header_main_action ul > li i{
	line-height:1;
	cursor:pointer;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.header_main_action ul > li.floating-searchbar > i.fa-times,
.header_main_action ul > li.flyout-searchbar-toggle > i.fa-times{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

body.floating-searchbar-active .header_main_action ul > li.floating-searchbar > i.fa-times,
body.flyout-searchbar-active .header_main_action ul > li.flyout-searchbar-toggle > i.fa-times{
	opacity:1;
	visibility:visible;
}

body.floating-searchbar-active .header_main_action ul > li.floating-searchbar > i.fa-search,
body.flyout-searchbar-active .header_main_action ul > li.flyout-searchbar-toggle > i.fa-search{
	opacity:0;
	visibility:hidden;
}

.header_main_action ul > li > .floating-search-bar{
	position:absolute;
	top:calc(100% + 30px);
	right:0;
	width:310px;
	padding:20px;
	background-color:rgba(255,255,255,0.9);
	box-shadow:0px 2px 5px rgba(0,0,0,0.15);
	opacity:0;
	visibility:hidden;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

body.floating-searchbar-active .header_main_action ul > li > .floating-search-bar{
	top:100%;
	opacity:1;
	visibility:visible;
}

.header_main_action ul > li > .floating-search-bar .form-row{
	position:relative;
	padding:0;
	margin:0;
}

.header_main_action ul > li > .floating-search-bar .form-row input[type=search]{
	width:100%;
	height:44px;
	padding:0px 40px 0px 15px;
	background-color:#fff;
	border:1px rgba(0,0,0,0.1) solid;
	box-shadow:initial;
	font-size:15px;
	color:#1e0d32;
}

.header_main_action ul > li > .floating-search-bar .form-row button[type=submit]{
	position:absolute;
	top:5px;
	right:0;
	z-index:1;
	width:40px;
	height:100%;
	background-color:initial;
	border:none;
	cursor:pointer;
}

.header_main_action ul > li > .floating-search-bar .form-row button[type=submit] i{
	font-size:16px;
	color:#1e0d32;
	line-height:16px;
}

.header_main_action ul > li.header-cart-bar{
}

.header_main_action ul > li.header-cart-bar > .header-cart-bar-icon{
	position:relative;
	display:block;
	margin-right:6px;
}

.header_main_action ul > li.header-cart-bar > .header-cart-bar-icon .cart-count{
	position:absolute;
	top:-8px;
	right:-13px;
	width:18px;
	height:18px;
	background-color:#121212;
	border-radius:50%;
	font-size:10px;
	color:#fff;
	line-height:20px;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.header_main_action ul > li.header-hamburger{
	cursor:pointer;
}

.header_main_action ul > li.header-hamburger > i{
	font-size:20px;
}

/* wraper_flyout_search */

.wraper_flyout_search{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:999;
	background-color:rgba(39,13,68,0.96);
	opacity:0;
	visibility:hidden;
	transform:scale(1.3);
	-webkit-transform:scale(1.3);
	transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}

body.flyout-searchbar-active .wraper_flyout_search{
	opacity:1;
	visibility:visible;
	transform:scale(1);
	-webkit-transform:scale(1);
}

.wraper_flyout_search > .table{
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%;
	margin:0;
}

.wraper_flyout_search > .table > .table-cell{
	position:relative;
	display:table-cell;
	width:100%;
	height:100%;
	padding:20px;
	vertical-align:middle;
	text-align:center;
}

.flyout-search-close{
	position:absolute;
	top:20px;
	right:20px;
	text-align:center;
}

.flyout-search-close i{
	font-size:30px;
	color:#fff;
	line-height:30px;
	cursor:pointer;
}

.flyout_search{
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:1140px;
	padding-top:80px;
	padding-bottom:40px;
}

.flyout_search .form-row{
	position:relative;
	padding:0;
	margin:0;
}

.flyout_search .form-row input[type=search]{
	width:100%;
	height:60px;
	padding:0px 40px 0px 0px;
	background-color:initial;
	border:none;
	border-bottom:3px #dedede solid;
	box-shadow:initial;
	font-size:20px;
	color:#fff;
}

.flyout_search .form-row button[type=submit]{
	position:absolute;
	top:17px;
	right:0;
	z-index:1;
	width:40px;
	height:auto;
	background-color:initial;
	border:none;
	cursor:pointer;
}

.flyout_search .form-row button[type=submit] i{
	font-size:20px;
	color:#fff;
	line-height:20px;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){

	/* wraper_header_main */

	.header_main .brand-logo{
		margin-top:25px;
		margin-bottom:25px;
	}

	.header_main_action{
	    margin-top:31px;
	}

	.header_main .responsive-nav{
	    margin-top:27px;
	}

	/* RADIANTTHEMES MEGA MENU */

	.rt-mega-menu > ul,
	.rt-mega-menu > ul > .menu-item{
		display:block;
	}

}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	/* wraper_header_top */

	.header_top_item{
		text-align:center;
	}

	/* wraper_header_main */

	body.admin-bar .is-sticky .wraper_header_main{
		top:0 !important;
	}

	.header_main .brand-logo{
		width:100%;
	}

	.header_main_action{
		float:left;
		margin-top:21px;
		margin-left:0;
	}

	.header_main_action ul > li > .floating-search-bar{
		left:0;
	}

	/* RADIANTTHEMES MEGA MENU */

	.rt-mega-menu > ul,
	.rt-mega-menu > ul > .menu-item{
		display:block;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	/* wraper_header_top */

	.header_top_item{
		text-align:center;
	}

	.header_top_item p{
	    margin:7px 0px 10px 0px;
	}

	.header_top_item ul.social{
	    width:100%;
	}

	/* wraper_header_main */

	body.admin-bar .is-sticky .wraper_header_main{
		top:0 !important;
	}

	.header_main .brand-logo{
		width:100%;
	}

	.header_main_action{
		float:left;
		margin-top:21px;
		margin-left:0;
	}

	.header_main_action ul > li > .floating-search-bar{
		left:0;
		width:230px;
	}

	/* RADIANTTHEMES MEGA MENU */

	.rt-mega-menu > ul,
	.rt-mega-menu > ul > .menu-item{
		display:block;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	/* wraper_header_top */

	.header_top_item{
		text-align:center;
	}

	.header_top_item p{
	    margin:7px 0px 10px 0px;
	}

	.header_top_item ul.social{
	    width:100%;
	}

	/* wraper_header_main */

	body.admin-bar .is-sticky .wraper_header_main{
		top:0 !important;
	}

	.header_main .brand-logo{
		width:100%;
	}

	.header_main_action{
		float:left;
		margin-top:21px;
		margin-left:0;
	}

	.header_main_action ul > li > .floating-search-bar{
		left:0;
		width:230px;
	}

	/* RADIANTTHEMES MEGA MENU */

	.rt-mega-menu > ul,
	.rt-mega-menu > ul > .menu-item{
		display:block;
	}

}