/* wraper_header */

.wraper_header{
	z-index:999;
    width:100%;
    direction:initial;
}

.wraper_header.static-header{
	position:relative;
}

.wraper_header.floating-header{
	position:absolute;
}

/* wraper_header_main */

.wraper_header_main{
    width:100%;
}

body.admin-bar .wraper_header_main{
	top:0;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

body.admin-bar .is-sticky .wraper_header_main{
	top:32px !important;
}

.wraper_header_main > .container{
	padding-top:25px;
	padding-bottom:25px;
}

.header_main{
	position:relative;
}

.header_main .brand-logo{
    float:left;
    text-align:center;
    font-size:0;
}

.header_main .brand-logo img{
	max-width:145px;
}

.header_main_action{
	float:right;
	margin-top:10px;
	margin-left:25px;
	text-align:center;
	font-size:0;
}

.header_main_action ul > li{
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin-right:25px;
}

.header_main_action ul > li:last-child,
.header_main_action ul > li:only-child{
	margin-right:0;
}

.header_main_action ul > li i{
	line-height:1;
	cursor:pointer;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.header_main_action ul > li.floating-searchbar > i.fa-times,
.header_main_action ul > li.flyout-searchbar-toggle > i.fa-times{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

body.floating-searchbar-active .header_main_action ul > li.floating-searchbar > i.fa-times,
body.flyout-searchbar-active .header_main_action ul > li.flyout-searchbar-toggle > i.fa-times{
	opacity:1;
	visibility:visible;
}

body.floating-searchbar-active .header_main_action ul > li.floating-searchbar > i.fa-search,
body.flyout-searchbar-active .header_main_action ul > li.flyout-searchbar-toggle > i.fa-search{
	opacity:0;
	visibility:hidden;
}

.header_main_action ul > li > .floating-search-bar{
	position:absolute;
	top:calc(100% + 30px);
	right:0;
	width:310px;
	padding:20px;
	background-color:rgba(255,255,255,0.9);
	box-shadow:0px 2px 5px rgba(0,0,0,0.15);
	opacity:0;
	visibility:hidden;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

body.floating-searchbar-active .header_main_action ul > li > .floating-search-bar{
	top:100%;
	opacity:1;
	visibility:visible;
}

.header_main_action ul > li > .floating-search-bar .form-row{
	position:relative;
	padding:0;
	margin:0;
}

.header_main_action ul > li > .floating-search-bar .form-row input[type=search]{
	width:100%;
	height:44px;
	padding:0px 40px 0px 15px;
	background-color:#fff;
	border:1px rgba(0,0,0,0.1) solid;
	box-shadow:initial;
	font-size:15px;
	color:#1e0d32;
}

.header_main_action ul > li > .floating-search-bar .form-row button[type=submit]{
	position:absolute;
	top:5px;
	right:0;
	z-index:1;
	width:40px;
	height:100%;
	background-color:initial;
	border:none;
	cursor:pointer;
}

.header_main_action ul > li > .floating-search-bar .form-row button[type=submit] i{
	font-size:16px;
	color:#1e0d32;
	line-height:16px;
}

.header_main_action ul > li.header-cart-bar{
}

.header_main_action ul > li.header-cart-bar > .header-cart-bar-icon{
	position:relative;
	display:block;
	margin-right:6px;
}

.header_main_action ul > li.header-cart-bar > .header-cart-bar-icon .cart-count{
	position:absolute;
	top:-8px;
	right:-13px;
	width:18px;
	height:18px;
	border-radius:50%;
	font-size:10px;
	color:#fff;
	line-height:20px;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.header_main_action ul > li.header-hamburger{
	cursor:pointer;
}

.header_main_action ul > li.header-hamburger > i{
	font-size:20px;
}

/* wraper_flyout_search */

.wraper_flyout_search{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:999;
	background-color:rgba(39,13,68,0.96);
	opacity:0;
	visibility:hidden;
	transform:scale(1.3);
	-webkit-transform:scale(1.3);
	transition:all 0.4s ease-in-out;
	-webkit-transition:all 0.4s ease-in-out;
}

body.flyout-searchbar-active .wraper_flyout_search{
	opacity:1;
	visibility:visible;
	transform:scale(1);
	-webkit-transform:scale(1);
}

.wraper_flyout_search > .table{
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%;
	margin:0;
}

.wraper_flyout_search > .table > .table-cell{
	position:relative;
	display:table-cell;
	width:100%;
	height:100%;
	padding:20px;
	vertical-align:middle;
	text-align:center;
}

.flyout-search-close{
	position:absolute;
	top:20px;
	right:20px;
	text-align:center;
}

.flyout-search-close i{
	font-size:30px;
	color:#fff;
	line-height:30px;
	cursor:pointer;
}

.flyout_search{
	display:inline-block;
	vertical-align:top;
	width:100%;
	max-width:1140px;
	padding-top:80px;
	padding-bottom:40px;
}

.flyout_search .form-row{
	position:relative;
	padding:0;
	margin:0;
}

.flyout_search .form-row input[type=search]{
	width:100%;
	height:60px;
	padding:0px 40px 0px 0px;
	background-color:initial;
	border:none;
	border-bottom:3px #dedede solid;
	box-shadow:initial;
	font-size:20px;
	color:#fff;
}

.flyout_search .form-row button[type=submit]{
	position:absolute;
	top:17px;
	right:0;
	z-index:1;
	width:40px;
	height:auto;
	background-color:initial;
	border:none;
	cursor:pointer;
}

.flyout_search .form-row button[type=submit] i{
	font-size:20px;
	color:#fff;
	line-height:20px;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	/* wraper_header_main */

	body.admin-bar .is-sticky .wraper_header_main{
		top:0 !important;
	}

	.header_main_action{
		margin-left:0;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	/* wraper_header_main */

	body.admin-bar .is-sticky .wraper_header_main{
		top:0 !important;
	}

	.header_main_action{
		margin-left:0;
	}

	.header_main_action ul > li > .floating-search-bar{
		width:230px;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	/* wraper_header_main */

	body.admin-bar .is-sticky .wraper_header_main{
		top:0 !important;
	}

	.header_main_action{
		margin-left:0;
	}

	.header_main_action ul > li > .floating-search-bar{
		width:230px;
	}

}