﻿/* wraper_footer */

.wraper_footer{
}

/* wraper_footer_main */

.wraper_footer_main{
}

.wraper_footer_main > .container{
	padding-top:80px;
	padding-bottom:40px;
}

.footer_main{
}

.footer_main_item{
	margin-bottom:40px;
}

.footer_main_item > *:last-child{
	margin-bottom:0 !important;
}

.footer_main_item .widget{
	margin-bottom:25px;
}

.footer_main_item .widget-title{
	margin-bottom:25px;
	font-weight:500;
	font-size:18px;
	color:#fff;
	line-height:28px;
}

.footer_main_item .widget-title a{
	color:inherit;
}

.footer_main_item p{
	margin-bottom:9px;
	font-weight:300;
	font-size:15px;
	color:#dfd9d9;
	line-height:26px;
}

.footer_main_item .widget_media_image{
	margin-bottom:30px;
}

.footer_main_item .widget_media_image img{
	max-width:220px !important;
}

.footer_main_item .widget_categories ul,
.footer_main_item .widget_pages ul,
.footer_main_item .widget_archive ul,
.footer_main_item .widget_meta ul,
.footer_main_item .widget_nav_menu ul,
.footer_main_item .widget_recent_entries ul,
.footer_main_item .widget_recent_comments ul,
.footer_main_item .widget_product_categories ul,
.footer_main_item .widget_rss ul{
	margin-bottom:10px;
}

.footer_main_item .widget_categories ul:after,
.footer_main_item .widget_pages ul:after,
.footer_main_item .widget_archive ul:after,
.footer_main_item .widget_meta ul:after,
.footer_main_item .widget_nav_menu ul:after,
.footer_main_item .widget_recent_entries ul:after,
.footer_main_item .widget_recent_comments ul:after,
.footer_main_item .widget_product_categories ul:after,
.footer_main_item .widget_rss ul:after{
	content:" ";
	display:block;
	clear:both;
}

.footer_main_item .widget_categories ul li,
.footer_main_item .widget_pages ul li,
.footer_main_item .widget_archive ul li,
.footer_main_item .widget_meta ul li,
.footer_main_item .widget_nav_menu ul li,
.footer_main_item .widget_recent_entries ul li,
.footer_main_item .widget_recent_comments ul li,
.footer_main_item .widget_product_categories ul li,
.footer_main_item .widget_rss ul li{
	margin-bottom:25px;
	font-weight:400;
	font-size:15px;
	color:#dfd9d9;
	line-height:26px;
}

.footer_main_item .widget_categories ul li a,
.footer_main_item .widget_pages ul li a,
.footer_main_item .widget_archive ul li a,
.footer_main_item .widget_meta ul li a,
.footer_main_item .widget_nav_menu ul li a,
.footer_main_item .widget_recent_entries ul li a,
.footer_main_item .widget_recent_comments ul li a,
.footer_main_item .widget_product_categories ul li a,
.footer_main_item .widget_rss ul li a{
	color:inherit;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.footer_main_item .widget_categories ul li a:hover,
.footer_main_item .widget_pages ul li a:hover,
.footer_main_item .widget_archive ul li a:hover,
.footer_main_item .widget_meta ul li a:hover,
.footer_main_item .widget_nav_menu ul li a:hover,
.footer_main_item .widget_recent_entries ul li a:hover,
.footer_main_item .widget_recent_comments ul li a:hover,
.footer_main_item .widget_product_categories ul li a:hover,
.footer_main_item .widget_rss ul li a:hover{
}

.footer_main_item .widget_categories ul li ul,
.footer_main_item .widget_pages ul li ul,
.footer_main_item .widget_archive ul li ul,
.footer_main_item .widget_meta ul li ul,
.footer_main_item .widget_nav_menu ul li ul,
.footer_main_item .widget_recent_entries ul li ul,
.footer_main_item .widget_recent_comments ul li ul,
.footer_main_item .widget_product_categories ul li ul,
.footer_main_item .widget_rss ul li ul{
	margin-top:10px;
	margin-left:20px;
	/*font-size:90%;*/
}

.footer_main_item .widget_categories ul li ul li ul,
.footer_main_item .widget_pages ul li ul,
.footer_main_item .widget_archive ul li ul,
.footer_main_item .widget_meta ul li ul,
.footer_main_item .widget_nav_menu ul li ul,
.footer_main_item .widget_recent_entries ul li ul,
.footer_main_item .widget_recent_comments ul li ul,
.footer_main_item .widget_product_categories ul li ul,
.footer_main_item .widget_rss ul li ul li ul{
	/*font-size:90%;*/
}

.footer_main_item .widget_rss ul li .rss-date,
.footer_main_item .widget_rss ul li .rssSummary,
.footer_main_item .widget_rss ul li cite{
	color:rgba(255,255,255,0.6);
}

.footer_main_item .widget_recent_entries ul li .post-date{
	display:block;
	position:relative;
	margin-top:6px;
	padding-left:22px;
	font-weight:500;
	font-size:85%;
	color:rgba(255,255,255,0.7);
}

.footer_main_item .widget_recent_entries ul li .post-date:before{
	position:absolute;
	top:0;
	left:0px;
	z-index:0;
	content:"\f017";
	font-family:'FontAwesome';
}

.footer_main_item .widget_calendar{
	margin-top:10px;
	margin-bottom:20px;
}

.footer_main_item .widget_calendar .calendar_wrap table{
	width:100%;
	table-layout:fixed;
	border:1px rgba(0,0,0,0.2) solid;
}

.footer_main_item .widget_calendar .calendar_wrap table tr{
	background-color:initial;
}

.footer_main_item .widget_calendar .calendar_wrap table tr th,
.footer_main_item .widget_calendar .calendar_wrap table tr td{
	padding:4px !important;
	border:1px rgba(0,0,0,0.2) solid;
	text-align:center;
	font-weight:400;
	font-size:80%;
	color:#fff;
}

.footer_main_item .widget_calendar .calendar_wrap table tr th a,
.footer_main_item .widget_calendar .calendar_wrap table tr td a{
	color:inherit;
}

.footer_main_item .widget_calendar caption{
	color:rgba(255,255,255,0.8);
}

.footer_main_item .rt-twitter-box ul li{
	position:relative;
	margin-bottom:15px;
	padding:0px 0px 0px 30px;
	border-bottom:none;
}

.footer_main_item .rt-twitter-box ul li:before{
	position:absolute;
	top:1px;
	left:0;
	z-index:0;
	content:"\f099";
	font-family:"FontAwesome";
}

.footer_main_item .rt-twitter-box ul li .tweet{
    margin-bottom:0;
}

.footer_main_item .rt-twitter-box ul li .interact{
	display:none;
}

.footer_main_item input[type="text"],
.footer_main_item input[type="email"],
.footer_main_item input[type="search"],
.footer_main_item select{
	width:100%;
	height:50px;
	margin-bottom:12px;
	padding-left:20px;
	padding-right:145px;
	background-color:#fff;
	border:none;
	border-radius:35px;
	font-weight:400;
	font-size:15px;
	color:#dfd9d9;
	line-height:26px;
}

.footer_main_item input[type="submit"],
.footer_main_item input[type="button"],
.footer_main_item button[type="submit"],
.footer_main_item button[type="button"]{
	height:50px;
	padding:10px 25px 10px 25px;
	border:none;
	border-radius:35px;
	text-transform:uppercase;
	font-weight:500;
	font-size:15px;
	color:#fff;
	line-height:26px;
}

.footer_main_item .widget_search form.search-form{
	position:relative;
}

.footer_main_item .widget_search form.search-form button[type="submit"]{
	position:absolute;
	top:0;
	right:0;
}

.footer_main_item .newsletter-form{
}

.footer_main_item .newsletter-form .form-row{
	position:relative;
	margin-bottom:18px;
	padding:0;
}

.footer_main_item .newsletter-form .form-row label{
	font-weight:300;
	font-size:15px;
	color:#dfd9d9;
	line-height:26px;
}

.footer_main_item .newsletter-form .form-row input[type="text"],
.footer_main_item .newsletter-form .form-row input[type="email"],
.footer_main_item .newsletter-form .form-row input[type="search"],
.footer_main_item .newsletter-form .form-row select{
	margin-bottom:0;
}

.footer_main_item .newsletter-form .form-row input[type="submit"],
.footer_main_item .newsletter-form .form-row  input[type="button"],
.footer_main_item .newsletter-form .form-row  button[type="submit"],
.footer_main_item .newsletter-form .form-row  button[type="button"]{
	position:absolute;
	top:0;
	right:-1px;
}

.footer_main_item .widget_text .wp-caption{
	display:block;
}

.footer_main_item .widget_text img{
	margin-bottom:10px;
}

.footer_main_item .tagcloud a{
	margin-right:10px;
	margin-bottom:5px;
	color:#fff;
}

.footer_main_item .widget_radianttheme_call_to_action_widget{
	padding:18px 20px 20px 20px;
	background-color:#333234;
	color:#fff;
}

.footer_main_item .widget_radianttheme_call_to_action_widget h4{
    font-size:18px;
    color:#fff;
    line-height:26px;
}

.footer_main_item .widget_radianttheme_call_to_action_widget a{
	padding:5px 20px 5px 20px;
	background-color:rgba(0,0,0,0.6);
	border-radius:0px;
	color:#fff;
}

.footer_main_item ul.contact{
}

.footer_main_item ul.contact li{
	position:relative;
	margin-bottom:10px;
	padding-left:28px;
	font-weight:300;
	font-size:15px;
	color:#dfd9d9;
	line-height:26px;
}

.footer_main_item ul.contact li strong{
	text-transform:uppercase;
	font-weight:600;
}

.footer_main_item ul.contact li:before{
	position:absolute;
	top:0;
	z-index:0;
	font-family:"FontAwesome";
}

.footer_main_item ul.contact li.email:before{
	left:0px;
	content:"\f0e0";
}

.footer_main_item ul.contact li.address:before{
	left:3px;
	content:"\f041";
}

.footer_main_item ul.contact li.phone:before{
	left:0px;
	content:"\f095";
}

.footer_main_item ul.social{
	font-size:0;
}

.footer_main_item ul.social li{
	display:inline-block;
	vertical-align:top;
	margin-right:12px;
	margin-bottom:6px;
}

.footer_main_item ul.social li a{
	display:block;
	width:32px;
	height:32px;
	background-color:initial;
	border:1px rgba(255,255,255,0.3) solid;
	border-radius:50%;
	text-align:center;
	font-size:15px;
	color:rgba(255,255,255,0.3);
	line-height:30px;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.footer_main_item ul.social li a:hover{
	color:#121212;
}

/* wraper_footer_copyright */

.wraper_footer_copyright{
}

.wraper_footer_copyright > .container{
	padding-top:30px;
	padding-bottom:5px;
}

.footer_copyright{
}

.footer_copyright_item{
	margin-bottom:20px;
}

.footer_copyright_item > *:last-child{
	margin-bottom:0 !important;
}

.footer_copyright_item p{
	margin-bottom:20px;
	font-weight:300;
	font-size:15px;
	color:#fff;
	line-height:26px;
}

.footer_copyright_item ul.menu{
	margin:0px 0px 15px 0px;
	font-size:0;
}

.footer_copyright_item ul.menu li{
	display:inline-block;
	vertical-align:top;
	margin-right:30px;
	margin-bottom:5px;
	font-weight:300;
	font-size:15px;
	color:#fff;
	line-height:26px;
}

.footer_copyright_item ul.menu li:last-child,
.footer_copyright_item ul.menu li:only-child{
	margin-right:0;
}

.footer_copyright_item ul.menu li a{
	color:inherit;
}

.footer_copyright_item ul.menu li ul{
	display:none;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	/* wraper_footer_copyright */

	.footer_copyright_item{
		text-align:center;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	/* wraper_footer_copyright */

	.footer_copyright_item{
		text-align:center;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	/* wraper_footer_copyright */

	.footer_copyright_item{
		text-align:center;
	}

}