﻿/* radiant-contact-form element-one */

.radiant-contact-form.element-one{
}

.radiant-contact-form.element-one .row{
	margin-right:0;
	margin-left:0;
}

.radiant-contact-form.element-one .row > [class*='col-']{
	padding-right:0;
	padding-left:0;
}

.radiant-contact-form.element-one .form-row{
}

.radiant-contact-form.element-one .form-row.last{
	margin:0;
}

.radiant-contact-form.element-one .form-row.button{
	text-align:left;
}

.radiant-contact-form.element-one .form-row > *:last-child{
	margin-bottom:0 !important;
}

.radiant-contact-form.element-one .form-row label{
	margin-bottom:10px;
}

.radiant-contact-form.element-one .form-row label span{
	color:#bf0000;
}

.radiant-contact-form.element-one .form-row input[type=text],
.radiant-contact-form.element-one .form-row input[type=email],
.radiant-contact-form.element-one .form-row input[type=url],
.radiant-contact-form.element-one .form-row input[type=tel],
.radiant-contact-form.element-one .form-row input[type=number],
.radiant-contact-form.element-one .form-row input[type=password],
.radiant-contact-form.element-one .form-row input[type=date],
.radiant-contact-form.element-one .form-row input[type=time],
.radiant-contact-form.element-one .form-row input[type=file],
.radiant-contact-form.element-one .form-row select,
.radiant-contact-form.element-one .form-row textarea{
	width:100%;
	resize:none;
	appearance:none;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.radiant-contact-form.element-one .form-row textarea{
	padding-top:10px;
	padding-bottom:10px;
}

.radiant-contact-form.element-one .form-row input[type=radio]{
	display:inline-block;
	vertical-align:top;
    margin:5px 3px 0px 0px;
}

.radiant-contact-form.element-one .form-row input[type=checkbox]{
	display:inline-block;
	vertical-align:top;
    margin:5px 3px 0px 0px;
}

.radiant-contact-form.element-one .form-row input[type=text]:focus,
.radiant-contact-form.element-one .form-row input[type=email]:focus,
.radiant-contact-form.element-one .form-row input[type=url]:focus,
.radiant-contact-form.element-one .form-row input[type=tel]:focus,
.radiant-contact-form.element-one .form-row input[type=number]:focus,
.radiant-contact-form.element-one .form-row input[type=password]:focus,
.radiant-contact-form.element-one .form-row input[type=date]:focus,
.radiant-contact-form.element-one .form-row input[type=time]:focus,
.radiant-contact-form.element-one .form-row input[type=file]:focus,
.radiant-contact-form.element-one .form-row select:focus,
.radiant-contact-form.element-one .form-row textarea:focus{
}

.radiant-contact-form.element-one .form-row input[type=submit],
.radiant-contact-form.element-one .form-row input[type=button],
.radiant-contact-form.element-one .form-row button[type=submit]{
	box-shadow:initial;
	cursor:pointer;
	opacity:1 !important;
	visibility:visible !important;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.radiant-contact-form.element-one .form-row .ajax-loader{
	position:absolute;
    margin-top:15px;
}

.radiant-contact-form.element-one .form-row .wpcf7-list-item{
	width:100%;
	margin:0px 0px 7px 0px;
}

.radiant-contact-form.element-one .form-row .wpcf7-list-item.last{
	margin:0;
}

span.wpcf7-not-valid-tip{
	width:100%;
	margin-top:2px;
	padding:1px 5px 0px 5px;
	background-color:#f8d7da;
    border:1px #e4c2c5 solid;
    border-radius:3px;
	font-weight:400;
    font-size:11px;
    color:#c01d2b;
    line-height:18px;
    opacity:0.7;
}

.wpcf7-response-output{
	margin-top:5px !important;
	padding:8px 12px 8px 12px !important;
	border-width:1px !important;
	border-style:solid !important;
	border-radius:3px;
	font-weight:400;
    font-size:14px;
    line-height:22px;
	opacity:0.9;
}

.wpcf7-response-output.wpcf7-validation-errors{
	background-color:#f8d7da;
	border-color:#e4c2c5;
    color:#c01d2b;
}

.wpcf7-response-output.wpcf7-mail-sent-ok{
	background-color:#c5ebd4;
	border-color:#b1dac1;
    color:#01742f;
}