﻿/* rt-portfolio-slider element-two */

.rt-portfolio-slider.element-two{
	width:auto;
	margin-left:-15px;
	margin-right:-15px;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item{
	padding-left:15px;
	padding-right:15px;
	text-align:center;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder{
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .pic{
	position:relative;
	overflow:hidden;
	margin-bottom:25px;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .pic > img{
	width:100%;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .pic > .overlay{
	position:absolute;
	top:-10px;
	right:-10px;
	bottom:-10px;
	left:-10px;
	z-index:1;
	background:center center no-repeat;
	background-size:cover;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder:hover > .pic > .overlay{
	transform:translateY(-10px);
	-webkit-transform:translateY(-10px);
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .data{
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .data > *:last-child{
	margin-bottom:0 !important;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .data h4{
	margin-bottom:10px;
	font-weight:600;
	font-size:20px;
	color:#030712;
	line-height:25px;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder:hover > .data h4{
	color:#1d4fce;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .data h4 a{
	color:inherit;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .data p{
	margin-bottom:4px;
	text-transform:uppercase;
	font-weight:400;
	font-size:13px;
	color:#030712;
	line-height:22px;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .data p span:after{
	content:",";
	margin-right:3px;
}

.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .data p span:last-child:after,
.rt-portfolio-slider.element-two .rt-portfolio-slider-item > .holder > .data p span:only-child:after{
	display:none;
}

.rt-portfolio-slider.element-two > .owl-nav > .owl-prev,
.rt-portfolio-slider.element-two > .owl-nav > .owl-next{
	position:absolute;
	top:calc(50% - 53px);
	z-index:1;
	font-size:0;
	transform:scale(0);
	-webkit-transform:scale(0);
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.rt-portfolio-slider.element-two:hover > .owl-nav > .owl-prev,
.rt-portfolio-slider.element-two:hover > .owl-nav > .owl-next{
	transform:scale(1);
	-webkit-transform:scale(1);
}

.rt-portfolio-slider.element-two > .owl-nav > .owl-prev{
	left:30px;
}

.rt-portfolio-slider.element-two > .owl-nav > .owl-next{
	right:30px;
}

.rt-portfolio-slider.element-two > .owl-nav > .owl-prev:before,
.rt-portfolio-slider.element-two > .owl-nav > .owl-next:before{
	display:inline-block;
    vertical-align:middle;
	width:50px;
	height:50px;
	background-color:rgba(0,0,0,0.7);
	border-radius:50%;
	text-align:center;
	font-family:"FontAwesome";
	font-size:20px;
	color:#fff;
	line-height:50px;
}

.rt-portfolio-slider.element-two > .owl-nav > .owl-prev:before{
	content:"\f177";
}

.rt-portfolio-slider.element-two > .owl-nav > .owl-next:before{
	content:"\f178";
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){
}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){
}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){
}