﻿/* testimonial element-two */

.testimonial.element-two{
	width:auto;
	margin-left:-15px;
	margin-right:-15px;
}

.testimonial.element-two .testimonial-item{
	padding:0px 15px 0px 15px;
}

.testimonial.element-two:not(.owl-carousel) .testimonial-item{
	float:left;
	margin-bottom:40px;
}

.testimonial.element-two .testimonial-item > .holder{
	text-align:center;
}

.testimonial.element-two .testimonial-item > .holder > .testimonial-data{
	margin-bottom:25px;
}

.testimonial.element-two .testimonial-item > .holder > .testimonial-data blockquote{
	max-width:700px;
	margin:0 auto;
}

.testimonial.element-two .testimonial-item > .holder > .testimonial-data blockquote > *:last-child{
	margin-bottom:0 !important;
}

.testimonial.element-two .testimonial-item > .holder > .testimonial-data blockquote p{
	margin-bottom:20px;
}

.testimonial.element-two .testimonial-item > .holder > .testimonial-title{
}

.testimonial.element-two .testimonial-item > .holder > .testimonial-title > .testimonial-title-data{
}

.testimonial.element-two .testimonial-item > .holder > .testimonial-title > .testimonial-title-data > *:last-child{
	margin-bottom:0 !important;
}

.testimonial.element-two .testimonial-item > .holder > .testimonial-title > .testimonial-title-data .title{
	margin-bottom:5px;
	font-weight:500;
	font-size:16px;
	color:#030712;
	line-height:26px;
}

.testimonial.element-two .testimonial-item > .holder > .testimonial-title > .testimonial-title-data .designation{
	margin-bottom:10px;
	font-weight:400;
	font-size:13px;
	color:#71788c;
	line-height:22px;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	.testimonial.element-two:not(.owl-carousel) .testimonial-item{
		width:100% !important;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	.testimonial.element-two:not(.owl-carousel) .testimonial-item{
		width:100% !important;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	.testimonial.element-two:not(.owl-carousel) .testimonial-item{
		width:100% !important;
	}

}