﻿/* rt-tab element-one */

.rt-tab.element-one{
}

.rt-tab.element-one > ul.nav-tabs{
	margin-bottom:35px;
	background-color:#f5f5f5;
	border:none;
	font-size:0;
}

.rt-tab.element-one > ul.nav-tabs:after{
	content:" ";
	display:block;
	clear:both;
}

.rt-tab.element-one > ul.nav-tabs > li{
	margin-bottom:0;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.rt-tab.element-one > ul.nav-tabs > li > a{
	position:relative;
	display:block;
	margin:0;
	padding:16px 30px 16px 30px;
	background-color:transparent;
	border:none;
	border-radius:0;
	text-align:center;
	text-transform:uppercase;
	font-weight:400;
	font-size:14px;
	color:#262527;
	line-height:26px;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.rt-tab.element-one > ul.nav-tabs > li.active > a{
	color:#fff;
}

.rt-tab.element-one > ul.nav-tabs > li > a:before{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:0;
	content:" ";
	opacity:0;
	visibility:hidden;
	transform:scaleY(0);
	-webkit-transform:scaleY(0);
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.rt-tab.element-one > ul.nav-tabs > li.active > a:before{
	opacity:1;
	visibility:visible;
	transform:scaleY(1);
	-webkit-transform:scaleY(1);
}

.rt-tab.element-one > ul.nav-tabs > li > a i{
	margin-right:10px;
}

.rt-tab.element-one > ul.nav-tabs > li.active > a > span{
	position:relative;
}

.rt-tab.element-one > .tab-content{
}