﻿/* rt-portfolio-box element-ten */

.rt-portfolio-box.element-ten{
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item{
	padding-left:0;
	padding-right:0;
	text-align:center;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder{
	position:relative;
	overflow:hidden;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .pic{
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .pic > img{
	width:100%;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .overlay{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
	padding:20px;
	background-color:rgba(72,79,95,0.8);
	border:0px #efe9d1 solid;
	opacity:0;
	visibility:hidden;
	transform:scale(1.3);
	-webkit-transform:scale(1.3);
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder:hover > .overlay{
	border-width:15px;
	opacity:1;
	visibility:visible;
	transform:scale(1);
	-webkit-transform:scale(1);
}

.rt-portfolio-box.element-ten[data-portfolio-box-align="left"] .rt-portfolio-box-item > .holder > .overlay{
	text-align:left;
}

.rt-portfolio-box.element-ten[data-portfolio-box-align="center"] .rt-portfolio-box-item > .holder > .overlay{
	text-align:center;
}

.rt-portfolio-box.element-ten[data-portfolio-box-align="right"] .rt-portfolio-box-item > .holder > .overlay{
	text-align:right;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .overlay > .table{
	display:table;
	table-layout:fixed;
	width:100%;
	height:100%;
	margin:0;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .overlay > .table > .table-cell{
	display:table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .overlay ul.category-list{
	margin-bottom:15px;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .overlay ul.category-list li{
	display:inline-block;
	vertical-align:top;
	padding:4px 18px 3px 18px;
	border-radius:30px;
	text-transform:uppercase;
	font-weight:500;
	font-size:12px;
	color:#fff;
	line-height:25px;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .overlay ul.category-list li:not(:first-child){
	display:none;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .overlay h4{
	font-weight:600;
	font-size:18px;
	color:#fff;
	line-height:30px;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .overlay h4 a{
	color:inherit;
}

.rt-portfolio-box.element-ten .rt-portfolio-box-item > .holder > .overlay p{
	margin-top:15px;
	color:#fff;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){

	.rt-portfolio-box.element-ten .rt-portfolio-box-item{
		width:33.33% !important;
	}

}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	.rt-portfolio-box.element-ten .rt-portfolio-box-item{
		width:50% !important;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	.rt-portfolio-box.element-ten .rt-portfolio-box-item{
		width:100% !important;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	.rt-portfolio-box.element-ten .rt-portfolio-box-item{
		width:100% !important;
	}

}