﻿/* rt-case-studies-slider element-one */

.rt-case-studies-slider.element-one{
	width:auto;
	margin-left:-15px;
	margin-right:-15px;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item{
	padding-left:15px;
	padding-right:15px;
	text-align:center;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder{
	position:relative;
	overflow:hidden;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .pic{
	position:relative;
	overflow:hidden;
	margin-bottom:22px;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .pic > img{
	width:100%;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .pic > .holder{
	position:absolute;
	top:-10px;
	right:-10px;
	bottom:-10px;
	left:-10px;
	z-index:1;
	background:center center no-repeat;
	background-size:cover;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder:hover > .pic > .holder{
	transform:translateY(-10px);
	-webkit-transform:translateY(-10px);
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .data{
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .data > *:last-child{
	margin-bottom:0 !important;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .data h4{
	margin-bottom:3px;
	text-transform:uppercase;
	font-weight:500;
	font-size:16px;
	color:#030712;
	line-height:26px;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .data h4 a{
	color:inherit;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .data p{
	margin-bottom:5px;
	font-weight:400;
	font-size:15px;
	color:#030712;
	line-height:26px;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .data p span:after{
	content:",";
	margin-right:3px;
}

.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .data p span:last-child:after,
.rt-case-studies-slider.element-one .rt-case-studies-slider-item > .holder > .data p span:only-child:after{
	display:none;
}

.rt-case-studies-slider.element-one > .owl-nav > .owl-prev,
.rt-case-studies-slider.element-one > .owl-nav > .owl-next{
	position:absolute;
	top:50%;
	z-index:1;
	font-size:0;
	transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.rt-case-studies-slider.element-one > .owl-nav > .owl-prev{
	left:-20px;
}

.rt-case-studies-slider.element-one:hover > .owl-nav > .owl-prev{
	left:20px;
}

.rt-case-studies-slider.element-one > .owl-nav > .owl-next{
	right:-20px;
}

.rt-case-studies-slider.element-one:hover > .owl-nav > .owl-next{
	right:20px;
}

.rt-case-studies-slider.element-one > .owl-nav > .owl-prev:before,
.rt-case-studies-slider.element-one > .owl-nav > .owl-next:before{
	font-family:"FontAwesome";
	font-size:30px;
	color:#fff;
	line-height:36px;
}

.rt-case-studies-slider.element-one > .owl-nav > .owl-prev:before{
	content:"\f104";
}

.rt-case-studies-slider.element-one > .owl-nav > .owl-next:before{
	content:"\f105";
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){
}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){
}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){
}