﻿/* blog element-eleven */

.blog.element-eleven{
	width:auto;
	margin-left:-15px;
	margin-right:-15px;
}

.blog.element-eleven .blog-item{
	padding:5px 15px 5px 15px;
}

.blog.element-eleven:not(.owl-carousel) .blog-item{
	float:left;
	margin-bottom:30px;
}

.blog.element-eleven .blog-item > .holder{
	padding:30px 30px 30px 30px;
	background-color:#fff;
	box-shadow:0px 0px 5px rgba(0,0,0,0.15);
}

.blog.element-eleven .blog-item > .holder > .data{
	margin-bottom:26px;
	padding-bottom:22px;
	border-bottom:1px #e1e2e3 solid;
}

.blog.element-eleven .blog-item > .holder > .data > *:last-child{
	margin-bottom:0 !important;
}

.blog.element-eleven .blog-item > .holder > .data .date{
	margin-bottom:7px;
	text-transform:uppercase;
	font-weight:400;
	font-size:12px;
	color:#0c121f;
	line-height:25px;
}

.blog.element-eleven .blog-item > .holder > .data h4{
	margin-bottom:22px;
	font-weight:500;
	font-size:18px;
	color:#0c121f;
	line-height:28px;
}

.blog.element-eleven .blog-item > .holder > .data h4 a{
	color:inherit;
}

.blog.element-eleven .blog-item > .holder > .data p:not(.date){
	margin-bottom:20px;
}

.blog.element-eleven .blog-item > .holder > .author{
	position:relative;
	z-index:1;
}

.blog.element-eleven .blog-item > .holder > .author > .author-thumbnail{
	display:inline-block;
	vertical-align:top;
	width:auto;
	margin-top:-1px;
	margin-right:17px;
}

.blog.element-eleven .blog-item > .holder > .author > .author-thumbnail img{
	width:45px;
	border-radius:50%;
}

.blog.element-eleven .blog-item > .holder > .author p{
	display:inline-block;
	vertical-align:top;
	width:auto;
	margin-top:10px;
	text-transform:uppercase;
	font-weight:400;
	font-size:12px;
	color:#0c121f;
	line-height:25px;
}

.blog.element-eleven .blog-item > .holder > .author p a{
	color:inherit;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	/* blog element-one */

	.blog.element-eleven:not(.owl-carousel) .blog-item{
		width:50% !important;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	/* blog element-one */

	.blog.element-eleven:not(.owl-carousel) .blog-item{
		width:100% !important;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	/* blog element-one */

	.blog.element-eleven:not(.owl-carousel) .blog-item{
		width:100% !important;
	}

}