﻿/* blog element-two */

.blog.element-two{
	width:auto;
	margin-left:-15px;
	margin-right:-15px;
}

.blog.element-two .blog-item{
	padding:5px 15px 10px 15px;
}

.blog.element-two:not(.owl-carousel) .blog-item{
	float:left;
	margin-bottom:40px;
}

.blog.element-two .blog-item > .holder{
	position:relative;
}

.blog.element-two .blog-item > .holder > .pic{
	position:relative;
	overflow:hidden;
	margin-bottom:20px;
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
}

.blog.element-two .blog-item > .holder:hover > .pic{
	transform:translateY(-7px);
	-webkit-transform:translateY(-7px);
}

.blog.element-two .blog-item > .holder > .pic > img{
	width:100%;
}

.blog.element-two .blog-item > .holder > .pic > .holder{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
	background:center center no-repeat;
	background-size:cover;
}

.blog.element-two .blog-item > .holder > .category-display{
	position:absolute;
	top:12px;
	left:12px;
	z-index:2;
	max-width:calc(100% - 24px);
	max-height:calc(100% - 24px);
}

.blog.element-two .blog-item > .holder > .category-display ul{
	font-size:0;
}

.blog.element-two .blog-item > .holder > .category-display ul > li{
	display:inline-block;
	vertical-align:top;
	margin-right:10px;
	margin-bottom:7px;
}

.blog.element-two .blog-item > .holder > .category-display ul > li a{
	display:block;
	padding:5px 15px 5px 15px;
	background-color:#fff;
	border-radius:25px;
	text-transform:uppercase;
	font-weight:500;
	font-size:12px;
	color:#000;
	line-height:22px;
	cursor:pointer;
}

.blog.element-two .blog-item > .holder > .data{
}

.blog.element-two .blog-item > .holder > .data > *:last-child{
	margin-bottom:0 !important;
}

.blog.element-two .blog-item > .holder > .data h4{
	margin-bottom:12px;
	font-weight:600;
	font-size:16px;
	color:#000;
	line-height:28px;
}

.blog.element-two .blog-item > .holder > .data h4 a{
	color:inherit;
}

.blog.element-two .blog-item > .holder > .data p{
	margin-bottom:12px;
	font-size:14px;
	line-height:25px;
}

.blog.element-two .blog-item > .holder > .data ul.post-meta li{
	display:inline-block;
	vertical-align:top;
	text-transform:uppercase;
	font-weight:400;
	font-size:13px;
	color:#626262;
	line-height:25px;
}

.blog.element-two .blog-item > .holder > .data ul.post-meta li:last-child,
.blog.element-two .blog-item > .holder > .data ul.post-meta li:only-child{
	margin-right:0;
}

.blog.element-two .blog-item > .holder > .data ul.post-meta li:after{
	content:"-";
	margin-left:10px;
	margin-right:10px;
}

.blog.element-two .blog-item > .holder > .data ul.post-meta li:last-child:after,
.blog.element-two .blog-item > .holder > .data ul.post-meta li:only-child:after{
	display:none;
}

.blog.element-two .blog-item > .holder > .data ul.post-meta li a{
	color:inherit;
}

.blog.element-two .blog-item > .holder > .data ul.post-meta li strong{
	font-weight:400;
	color:#000;
}

/* LARGE DESKTOP PART */
@media screen and (min-width:1200px){
}

/* DESKTOP PART */
@media screen and (min-width:992px) and (max-width:1199px){
}

/* TABLET LANDSCAPE PART */
@media screen and (min-width:768px) and (max-width:991px){
}

/* TABLET PROTRAIT PART */
@media screen and (min-width:480px) and (max-width:767px){

	/* blog element-two */

	.blog.element-two:not(.owl-carousel) .blog-item{
		width:50% !important;
	}

}

/* SMART PHONE LANDSCAPE PART */
@media screen and (min-width:321px) and (max-width:479px){

	/* blog element-two */

	.blog.element-two:not(.owl-carousel) .blog-item{
		width:100% !important;
	}

}

/* SMART PHONE PROTRAIT PART */
@media screen and (max-width:320px){

	/* blog element-two */

	.blog.element-two:not(.owl-carousel) .blog-item{
		width:100% !important;
	}

}